/* Project Section Styles */
#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 35px;
    text-align: center;
    background: #f4f4f4;
  }
  
  .project-title {
    font-size: 1.75rem;
  font-weight: 600;
  color: #2c3e50; /* Dark Blue (Professional Look) */
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #3498db; /* Accent color */
  display: inline-block;
  padding-bottom: 5px;
  }
  
  .project-head {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .project-para{
    margin-bottom: 0.5rem;
  }
  
  .project-ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    background: #f0f0f0;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    padding-left: 2rem;
  }
  
  li::before {
    content: '\2022'; /* Unicode for bullet point */
    color: #007bff;
    font-size: 1.5rem;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  